<header class="sm:justify-between 
            sm:flex-row flex-col flex text-2xl 
            lg:py-8 font-bold bg-[url('./assets/img/header.jpg')] 
            bg-center bg-no-repeat bg-contain">
  <h1>
    <span class='text-red-700'>Comics</span> Marvel Shop
  </h1>
  <nav>
    <ul class='flex text-2xl font-bold space-x-4'>
      <li class="hover:text-red-500 cursor-pointer">Marvel Heroes</li>
      <li>/</li>
      <li class="hover:text-red-500 cursor-pointer"> Comics Shop</li>
      <li>/</li>
      <li class="hover:text-red-500 cursor-pointer">Cart</li>
    </ul>
  </nav>
</header>